---
layout: default
banner:
  banner-image: images/blog-bg-10.jpg
  heading: Explore The World
  description: Natures teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
  button-url: bob
  button-text: READ MORE
  button-color: '#000'
seo:
  title: Travel Magazine
  description: "Your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---
<section class="p-5p">
	<div class="max-w-screen-2xl">

		<h3 class="text-center uppercase text-4xl m-0 px-5p pb-5p"> Recently on the blog.</h3>


		<div class="columns-3"> 

			{% for item in site.posts limit:30 %} 
				<div class="mb-2"> {% include post-loop-item-alternating-aspect.html %} </div> 
			{% endfor %} 
			
		</div>
		


	</div>
</section>
