---
layout: default
banner:
  banner-image: images/blog-bg-12.jpg
  heading: A Whole New World
  description: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
  button-url:
  button-text:
about-image: images/blog-bg-13.jpg
travel-image: images/blog-bg-14.jpg
seo:
  title: Travel Magazine
  description: "Your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!-- facinating section -->
<section class="p-5p bg-stone-200">
  <div class="max-w-screen-2xl grid grid-cols-2">

    <div class="pb-120p bg-cover bg-center" style="background-image: url('{{ page.about-image}}');"></div>
    <div class="p-5p self-center">
      <h2 class="editable text-6xl max-w-md"> A fascinating heading about the site. </h2>
      <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      <a href="" class="editable uppercase border-b border-black  inline-block mt-5"> read more </a>
    </div>

  </div>
</section>

<!-- upcoming travel dates section -->
{% include uppcoming-travel.html %}

<!-- recent blog posts section -->

{% include post-loop-item.html %}


