---
layout: default
banner:
  banner-image: images/blog-bg-12.jpg
  heading: A Whole New World
  description: Surfing teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
  button-url:
  button-text:
about-image: images/blog-bg-13.jpg
uppcoming-travel-dates:
  title: upcoming travel destinations
  dates:
  - destination: Europe
    date: March to April
    image: images/blog-bg-14.jpg
  - destination: Asia
    date: March to April
    image:
  - destination: Australia
    date: March to April
    image:
  - destination: America
    date: March to April
    image:
seo:
  title: Travel Magazine
  description: "Your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<!-- facinating section -->
<section class="p-5p bg-stone-200">
  <div class="max-w-screen-2xl grid grid-cols-2 mx-auto">

    <div class="pb-100p bg-cover bg-center" style="background-image: url('{{ page.about-image}}');"></div>
    <div class="py-15p px-8 self-center">
      <h2 class="editable p-8 text-center -ml-[40%] text-6xl max-w-md"> A fascinating heading about the site. </h2>
      <p class="editable"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      <a href="" class="editable uppercase border-b border-black  inline-block mt-5"> read more </a>
    </div>

  </div>
</section>

<!-- upcoming travel dates section -->
{% include uppcoming-travel.html %}

<!-- recent blog posts section -->

<section class="p-5p">

  <div class="max-w-screen-xl mx-auto flex justify-between mb-4">
  
     <!-- this is a html icon for a left and right arrow ---> 
    <div class="text-3xl">&#8249;</div>
    <h2 class="uppercase font-serif text-2xl tracking-wide"> Recently on the blog </h2>
    <div class="text-3xl">&#8250;</div>
    
  </div>
  
  <div class="max-w-screen-xl mx-auto grid grid-cols-7 overflow-x-scroll">

      {% assign featured_posts = site.posts | where: 'featured', true %}
      
      {% for item in featured_posts limit: 5 %}
    
      <div class="{% cycle 'col-span-2', 'col-span-3', 'col-span-2' %} ">
        {% include post-loop-item.html %}
      </div>

      {% endfor %}

  </div>

</section> 

<section class="py-5p">

  <div class="max-w-screen-xl mx-auto flex justify-between mb-4">
  
     <!-- this is a html icon for a left and right arrow ---> 
    <div class="text-3xl">&#8249;</div>
    <h2 class="uppercase font-serif text-2xl tracking-wide"> Recently on the blog </h2>
    <div class="text-3xl">&#8250;</div>
    
  </div>
  
  <div class="max-w-screen-xl mx-auto flex flex-row overflow-x-scroll ">

      {% assign featured_posts = site.posts | where: 'featured', true %}
      
      {% for item in featured_posts limit: 5 %}
    
      <div class="{% cycle 'basis-[25%] shrink-0', 'basis-[40%] shrink-0' %} ">
        {% include post-loop-item.html %}
      </div>

      {% endfor %}

  </div>

</section> 
