---
layout: default
hero-banner:
  banner-image: images/blog-bg-17.jpg
  banner-position: 50% 50%
  heading: Members Area
  description: >-
    Surfing teaches you to appreciate the finer things in life, to be present,
    live in the moment and just breath.
  button-url:
  button-text:
  button-color:
  top-text:
sticky-nav-title: explore
members-content:
  - content-image: /images/blog-bg-18.jpg
    title: Sol och bad
    content_html: >-
      <p>Trött på kylan i norden? Då har vi lösningen för dig! Dem kommande
      veckorna kommer jag dela med mig av min vardag som spelmiljonär och dela
      med mig av mina bästa tips! Häng med</p>
  - content-image: /images/blog-bg-15.jpg
    title: New York och Bali
    content_html: >-
      <p>sedan 5 år tillbaka så lever vi våra liv pendlandes mellan Livets
      storstad New York och Paradiset i Bali. Stort tack Bet365 ;)</p>
  - title: This is a third title
    content_html: some content
seo:
  title: Travel Magazine
  description: Your description goes here
  keywords: your, keywords, go, here
  social_image: path/to/social/image.jpg
  hide-from-google: false
---
{% include alt-hero-banner.html %}



<section class="min-h-80 p-5p grid grid-cols-4">

  <div class="col-span-1 sticky top-8 self-start">
          <h3 class="text-4xl uppercase"> {{ page.sticky-nav-title }} </h3>
          {% for item in page.members-content %}
          <a href="#{{item.content-title | slugify }}" class="block"> {{item.content-title}}</a>
          {% endfor %}

  </div> 

  <div class="col-span-3 border-l border-black">

      {% for item in page.members-content %}


      <div id="{{item.title | slugify}}" class="p-5p border-b-2 border-black"> 
        <div class="min-w-full">
        <img src="{{ item.content-image}}" alt="" />
        </div>
        <h2>{{ item.content-title }} </h2>
        <p> </p>
          {{ item.content_html }}
      </div>

      {% endfor %}

  </div> 
  
</section>


<!-- <section class="p-5p min-h-80 grid grid-cols-4">
  <div class="max-w-screen-2xl">

      
      
      <div class="col-span-1">
        
        <h3 class="text-4xl uppercase"> {{ page.sticky-nav-title }} 

        {% for item in page.sticky-nav %}

        <a href="{{ item.url }}" class="block"> {{ item.text }} </a>

        {% endfor %}

      



  
 -->