---
layout: default
banner:
  banner-image: images/blog-bg-17.jpg
  banner-position: 2% 100%
  top-text:
  heading: Shop.
  description: Natures teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
  button-url: /shop-featured.html
  button-text: Featured shop
  button-color:
block-image:
  image: /images/blog-bg-10.jpg
  text: "once you get a tast for travel you'll never be the same"
  position: 50% 50%
seo:
  title: Travel Magazine
  description: "Your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---




<section class="p-5p max-w-screen-xl mx-auto" x-data="{ filter: 'all' }">

	<h2 class="text-center uppercase text-4xl m-0 px-5p pb-5p"> Shop all products </h2> 

	<div class="filter text-center pb-5"> 
		    <a href="#" class=" inline-block border border-black px-8 py-2 hover:bg-black hover:text-white" @click.prevent="filter = 'all'">All</a>
        <a href="#" class=" inline-block border border-black px-8 py-2 hover:bg-black hover:text-white" @click.prevent="filter = 'guide'">Travel Guides</a>
        <a href="#" class=" inline-block border border-black px-8 py-2 hover:bg-black hover:text-white" @click.prevent="filter = 'preset'">Presets </a>
	</div>


	<div class="grid grid-cols-3 gap-4">

	{% assign all_products = site.products-guides | concat: site.products-presets | sort: 'title'  %}

	{% for item in all_products %}
		
		<div class="{{item.type | slugify }}" x-show="filter === 'all' || filter === '{{ item.type | slugify }}'">
		{% include product-loop-item.html type=item.type  %}
		</div>
			
	{% endfor %}

	</div>

</section>