---
layout: default
banner:
  banner-image: images/blog-bg-17.jpg
  banner-position: 2% 100%
  top-text:
  heading: Shop.
  description: Natures teaches you to appreciate the finer things in life, to be present, live in the moment and just breath. 
  button-url: /shop-featured.html
  button-text: Featured shop
  button-color:
block-image:
  image: /images/blog-bg-10.jpg
  text: "once you get a tast for travel you'll never be the same"
  position: 50% 50%
seo:
  title: Travel Magazine
  description: "Your description goes here"
  keywords: "your, keywords, go, here"
  social_image: "path/to/social/image.jpg"
  hide-from-google: false
---

<section class="p-5p pt-0 pb-0 bg-stone-200">
    <div class="max-w-screen-2xl p-5p">
        <h3 class="text-center uppercase text-4xl m-0 px-5p pb-5p"> Exlore all our products </h3>
        <div class="flex flex-cols-3 justify-center gap-4 pb-5p">
            <p class=" border border-black px-8 py-2 hover:bg-black hover:text-white"> show all</p>
            <p class=" border border-black px-8 py-2 hover:bg-black hover:text-white"> travel guides</p>
            <p class=" border border-black px-8 py-2 hover:bg-black hover:text-white"> presets  </p>
        </div>
       
        <div class="grid grid-cols-3 gap-6"> 
        {% for item in site.products-guides %}

            {% include products.html type="guide" aspect='0.8' %}

        {% endfor %}
 
        {% for item in site.products-presets %}

            {% include products.html type="preset" aspect='0.8' %}

        {% endfor %}
    </div>

    </div>
</section>