
<!---------------- big image banner alt 2 --------------->
<section class="bg-cover bg-center p-5p text-white" style="background-image: url('{{ page.block-image.image}}'); background-position: {{ page.block-image.position }} ">
    
    <!-- för att få texten till botten så måste höjden ligga på divven som håller texten och inte på section -->
        <div class="max-w-screen-2xl min-h-60 flex items-end">
            <h3 class="text-5xl max-w-md"> "{{ page.block-image.text }}" </h3>
        </div>
</section>
