<div class="bg-white" style="order:{{forloop.index}}">
    <a href="#">
    <div class="bg-center bg-cover min-h-[30vw] relative" style="background-image: url('{{ item.featured-image }}');">
    
        {% if item.tag %}
        <h3 class="bg-black text-white inline-block py-1 px-6 text-xl uppercase editable absolute top-2 -right-3"> {{ item.tag }} </h3>
        {% endif %}
    
    </div>
    <div class="p-5">
        <span class="bg-stone-200 text-stone-500 px-2 py-1 mb-2 inline-block"> Guide </span>
        <h4 class="uppercase mb-5"> {{ item.title }} </h4>
        <p class="mb-5"> {{ item.description }} </p>
         {% assign cent-check = item.price | modulo: 100 %}
        <span class="">
            {% if cent-check > 1 %}

              $ {{ item.price | divided_by: 100.0}}

            {% else %}

            $ {{ item.price | divided_by: 100.0}}

            {% endif %}
        </span>
    </div>
    </a>
</div>