
<!-------------- preview loop for blog posts on the blog page -------------->

<section class="py-5p px-2 bg-stone-200">
    <!-- this is our max-w div -->
   <div class="max-w-screen-2xl">
       <h3 class="editable text-center uppercase pb-8 text-4xl"> recently on the blog... </h3>
     
    <div class="grid grid-cols-4 gap-2">
    {% for item in site.posts | limit:3 %}
   
    <div class="{% cycle 'col-span-1','col-span-2' %} flex flex-col">
        <div class="bg-center bg-cover min-h-[25vw]" style="background-image: url('{{ item.featured-image }}');"></div>
    	<h4 class="uppercase m-5"> {{ item.title }} </h4>
    	<p class="m-5 grow"> {{ item.description }} </p>
    	<a href="{{item.url}}" class="uppercase border-b border-black inline-block m-5 mt-0 self-start">  Read More </a>  
    </div>
   
    {% endfor %}
    </div>  
   </div>
</section>