<header> 
<div class="flex justify-between uppercase max-w-screen-2xl mx-auto p-5">
        
    <a href="/index.html"> logo </a>
    <nav class="flex gap-4">
        <a href="/blog.html"> home </a>
        <a href="/blog.html"> blog </a>
        <a href="/shop.html"> shop </a>
        <a href="/member-login.html"> member login </a>
    </nav>
</div>
</header> 

{% if page.banner.banner-image %}

<section class="min-h-80 bg-cover bg-center p-15p text-white" style="background-image: url('{{ page.banner.banner-image}}'); background-position: {{ page.banner.banner-position }}">
    <div class="max-w-screen-2xl">

        {% if page.banner.top-text  %}   
        
        <span> {{page.banner.top-text}} </span>
       
        {% endif %}

        <h1 class="text-9xl"> {{ page.banner.heading}} </h1>
        <p class="max-w-[50%]"> {{ page.banner.description }}</p>

        {% if page.banner.button-url  %} 

        <a href="{{ page.banner.button-url }}" class="border-b border-current inline-block mt-5" style="color: {{page.banner.button-color}}"> {{ page.banner.button-text }} </a>

        {% endif %}

    </div>


</section>

{% endif %}