<header> 
<div class="flex justify-between uppercase max-w-screen-2xl mx-auto p-5">
        
    <a href=""> logo </a>
    <nav class="flex gap-4">
        <a href="/blog.html"> blog </a>
        <a href="/shop.html"> shop </a>
        <a href="/member-login.html"> member login </a>
    </nav>
</div>
</header> 

{% if page.banner.banner-image %}

<section class="min-h-80 bg-cover bg-center p-15p text-white" style="background-image: url('{{ page.banner.banner-image}}');">
    <div class="max-w-screen-2xl">

        <h1 class="text-9xl"> {{ page.banner.heading}} </h1>
        <p class="max-w-[50%]"> {{ page.banner.description }}</p>

        {% if page.banner.banner-image %}   
        <a href="{{ page.banner.button-url }}"> {{ page.banner.button-text }} </a>
        {% endif %}

    </div>


</section>

{% endif %}