<footer class="bg-stone-100 p-5p py-5"> 
    <div class="max-w-screen-xl mx-auto md:grid grid-cols-6 justify-between">
        <div class="p-4 col-span-4">
          <a href="#" class="font-serif text-4xl mb-4 block tracking-wide"> LOGO </a>
          <p class="max-w-[70%]"> Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam, quibusdam, aliquid amet deserunt asperiores assumenda ipsum vitae quis cupiditate corporis! Aspernatur, eum suscipit. Laborum in dolor doloremque autem quo! </p>
        </div> 
  
        <div class="flex flex-col items-center ">
            <nav class="p-4">
                <h2 class="p-1 font-serif tracking-wide uppercase"> Explore </h2>
                <a href="/index.html"> Home </a>
                <a href="/blog.html"> Blog </a>
                <a href="/shop.html"> Shop </a>
                <a href="/member-login.html"> Members </a>
           </nav> 
        </div>
        <div class="flex flex-col items-center">
            <nav class="p-4">
              <h2 class="p-1 font-serif tracking-wide uppercase"> conect </h2>
              <a href="/index.html"> facebook </a>
              <a href="/blog.html"> twitter </a>
              <a href="/shop.html"> pinterest </a>
              <a href="/member-login.html"> linked in </a>
            </nav>
        </div>
        
    </div>
</footer>