<section class="pb-5p ">
    <div class="max-w-screen-2xl grid grid-cols-2 items-end gap-4">
        <div class="p-10p pb-0"> 
            <h2 class="capitalize text-4xl"> {{ page.title }} </h2>
            <h4 class="uppercase text-xl"> {{ page.split-banner.subtitle }} </h4>
            <p class=""> {{ page.split-banner.text }} </p>
            <a href="{{ /shop.html }}" class="px-8 py-2 bg-black text-white border border-black hover:bg-white hover:text-black hover:border hover:border-black inline-block mt-5"> buy now </a>
        </div>
        <div class="pb-75p bg-cover bg-center" style="background-image: url('{{ page.split-banner.travel-image}}');"></div>
    </div>
</section>