---
layout: default
---

{% include split-banner.html %}

<!-- image section -->
<section class="p-10p">
    <div class="max-w-4xl m-auto">
        <h3 class="text-center uppercase text-4xl pb-5p m-0"> whats inside.</h3>

        <img src="/images/blog-bg-1.jpg" class="aspect-video w-full object-cover" alt="">

        <div class="grid grid-cols-6 gap-4 mt-[1rem]">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
        </div>

    </div>
</section>

<!-- table of content section -->
{% include table-of-content.html %}

<!-- related guids -->
<section class="p-5p pb-0 bg-stone-200">
    <div class="max-w-screen-2xl p-5p">
        <h3 class="text-center uppercase text-4xl m-0 px-5p pb-5p"> Related Products </h3>
       
        <div class="grid grid-cols-3 gap-6"> 

        {% assign counter = 0 %}

        {% for item in site.products-guides %}

            {% if page.url == item.url %}
            <!-- do not output guide -->

            {% elsif counter < 3 %}
            <!-- if page.url is not the same as item.url then then output post but stop at three  -->
                {% include guides.html aspect='1.5' %}

            {% assign counter = counter | plus:1 %}

            {% endif %}
        {% endfor %}
    </div>

    </div>
</section>







    


    
