---
layout: default 
---

{% include split-banner.html %}

<section class="p-5p">
    <div class="max-w-4xl m-auto">
        <h3 class="text-center uppercase text-4xl pb-5p m-0"> whats inside.</h3>

        <img src="/images/blog-bg-1.jpg" class="aspect-video w-full object-cover" alt="">

        <div class="grid grid-cols-6 gap-4 mt-[1rem]">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
            <img src=" /images/blog-bg-1.jpg " alt="">
        </div>

    </div>
</section>